
#alarm {
    position: fixed;
    top: 2.8em;
    left: -240px;
    width: 200px;    
    border: solid 2px white;
    border-radius: 4px;    
    color: white;
    background: #a51919;
    display: flex;
    flex-flow: wrap;    
    padding: 16px;
    transition: 0.62s;
}
#alarm.alarm {
  left: 0;
}
#alarm>div:first-child {
  position: relative;
  width: 3.05em;
  font-size: xx-large;
  text-align: center;
}
.alarmItem {
  background: #000;
  width: 5em;
  border: solid 1px white;    
  border-radius: 6px;
  text-align: center;
  margin: 3px;
  padding: 5px;
}
.alarmItem:hover {
  color: #331212;
  background: #f1c23f;
  font-weight: bold;
}
.alarm-active {
  background: #FFEB3B;
  color:black;
  font-weight: bold;
}
.alarmMessage {    
    width: 100%;
    border: solid 1px white;    
    border-radius: 2px;
    text-align: center;
    margin: 3px;
    padding: 5px;
}