@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('from_others/fontawesome/css/all.min.css');
@import url('customized_prettyprint.css');

:root {
  --headerBg: #272727;
  
  --viewBg: #272727;  
  --viewTitleFg: #fff;
  --viewTitleBg: #c13737;

  --topicTitleFg: aqua; /* #0ebeff*/
  --topicLinkFg: #FFF;
  --topicLinkHoverFg: aqua;
  --otherLinksFg: pink;
  --originOfLinkFg:  rgb(5 ,224,251);
  --originOfLinkHoverFg:  rgb(240, 209, 73);

  --homeBg: #272727;
  --webBg: #272727;
  --codeBg: #272727;
  --mobilesBg: #272727;
  --cloudBg: #272727;
  --mathBg: #272727;
  --iaBg: #272727;
  --datavizBg: #272727;
  --sciencesBg: #272727;
  --aviationBg: #272727;
  --securisationBg: #272727;
  --moneyBg: #272727;
  --jobBg: #272727;
  --toolboxBg: #272727;
  --toolboxBt: #FFEB3B;
   
  --fontFamily: 'Roboto Mono', monospace;
  --copyHover: gold;
}

body {
  font-family: var(--fontFamily);
  margin:0;
}

.logobka {
  float: left;
  margin: 3px 0 0 10px;
  background-image: url(../assets/img/bka.png);
  width:65px;
  height: 38px;
}

.viewsListBox {
  top: 90%;
  background-color: rgb(255 204 0);
  color:black;
}
.slidesListBox {
  top: 60%;
  background-color: rgb(161, 47, 47);
  font-size:0.6em;
  height: 800%;
  overflow: scroll;
}
.viewsListBox, .slidesListBox {
  display:none;
  position: absolute;
  border: solid 1px gray;
  border-radius: 8px;
  padding: 5px;  
  text-align: left;
}

#viewName:hover .slidesListBox, .logobka:hover .viewsListBox {  
  display:block;
}


/* VIEW */

.view > * {
   padding-left: 15px; 
}
.view {
  display:none;
  background-color: var(--viewBg);
  width: 100%;
  min-height: 100%;
  display: none;
  position: absolute;
  box-sizing: border-box;
  color:#fff;
  padding: 5px;
  margin:0;
}
.view h4,h5,h6 {
  text-align: left;
}
.view ul {
  color: var(--viewTitleFg);
  margin: 1.4em 0 0.3em 0;
}

.view > h1 {
    color: var(--viewTitleFg);
    margin: 1.4em 0 0.3em -6px;
    background-color: var(--viewTitleBg);
    width: fit-content;   
    padding: 0 50px 7px 10px;
    border-radius: 0 8px 8px 0;
    border: solid 1px gray;
    box-shadow: 10px 1px 70px rgb(169 169 169 / 63%);
}

.active {
  display:block !important;  
}

.topics > div[class*="masonr"] > div, .box3d {    
  min-width: 200px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgb(0 0 0), 0 3px 12px rgb(0 0 0), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);   
  break-inside: avoid;
  width: fit-content;
}
.topics > div[class*="masonr"] > div > h3 {
  color: var(--topicTitleFg);
  margin: 0;
  font-variant: all-small-caps;
} 

.box3d > h4 {
  margin: 0 0 1em 0;
}

.flexrow {
  display: flex; 
  flex-direction: row;
}
.flexcol {
  display: flex; 
  flex-direction: column
}

/* LINKS */

a {
 text-decoration: none !important;
 color: var(--otherLinksFg);
}

.originOfLink, .originOfLink:visited  {
  color: var(--originOfLinkFg) !important;
  font-size: small;  
}
.originOfLink:before {
  content: '💾 '    
}
.originOfLink:after {
  content: ' ↗'
}
.originOfLink:hover {  
  color: var(--originOfLinkHoverFg) !important;
}
.topicLink, .blogLink, .blogLinkEdit {
  color: var(--topicLinkFg);
}
.topicLink:hover, .blogLink:hover, .blogLinkEdit:hover {  
  border-bottom: solid 1px var(--topicLinkHoverFg);  
}
.topicLink:visited, .blogLink:visited, .blogLinkEdit:visited {
  color: var(--topicLinkFg);
}    
.view .topicLink {
  font-size: small;
}

.copy:hover {
  color: var(--copyHover);
}
.copy:hover:after {
  content: ' ← clikopy';
  font-size: 0.9em;
}


#header {
  position: fixed;
  z-index: 10;
  background-color: var(--headerBg);
  width: 100%;
  color:white;
}
.clockDiv {
  position: absolute;  
  font-size: x-large;
}
#clock {  
  position: relative;
  top: 0.2em;
  left: 4em;  
  cursor: pointer;
}

#alarmSign {
  display: none;
  position: relative;
  background-color: goldenrod;  
  height: 2px;
  left: 4em;
  top: 3px;
}
#navIcons {  
  position: relative;
  top: 0.21em;
  left: 6.5em;
  font-size: 1.5em;
}
#viewName {  
  display: none; 
  position: absolute;
  left: 0;
  top: 0.2em;
  font-size: 5.1em;
  color: var(--viewTitleFg);
  animation: viewNameAnimation ease 0.25s;  
  z-index: 15;
  opacity: 0;
  text-align: center;
}
#viewName.visible {    
  display: block;
  left: 50%;
  top: 0;
  opacity: 1;  
  position: fixed;
  font-size: x-large;
  background-color: var(--viewTitleBg);
  padding: 0 20px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #988585;
  border-right: 1px solid #cea0a0;
}
@keyframes viewNameAnimation {
  0% { left:0; top:2em;  border-radius: 0 8px 8px 0; border: solid 1px gray; }
  20% { left:20%; top:2em; opacity:0.4; font-size: large;  border: solid 1px gray; }
  100% { left:50%; top:0; font-size: x-large;  border: solid 1px gray;}
}
#viewName progress {
  position:relative;
  top:-6px;  
}

#help {
  position: relative;
  z-index: 16;
  float: right;
  margin: 9px 10px;      
  font-size: 1.5em;  
  cursor: pointer;  
}





/* HTML ELEMENTS */

kbd {
  font-size: 0.85em;
  border: 1px solid;
  border-bottom-width: 2px;
  border-color: #ddd #bbb #bbb #ddd;
  background: #000;
  padding: 1px 3px;
  white-space: nowrap;
  border-radius: 3px;
  color: #fff;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
  text-transform: uppercase;
}

em {
    color: #FF5722;
}

/* VIEWS */

.view #home {
  background-color: var(--homeBg);
}

.view #web {
  background-color: var(--webBg);
}

.view #cloud {
  background-color: var(--cloudBg);
}

.view #code {
  background-color: var(--codeBg);
}

.view #mobiles {
  background-color: var(--mobilesBg);
}

.view #math {
  background: var(--mathBg);  
}

.view #ia {
  background: var(--iaBg);  
}

.view #dataviz {
  background: var(--datavizBg);  
}

.view #sciences {
  background: var(--sciencesBg);  
}

.view #aviation {
  background: var(--aviationBg);  
}

.view #securisation {
  background: var(--securisationBg);  
}

.view #money {
  background: var(--moneyBg);  
}

.view #job {
  background: var(--jobBg);  
}

.view #toolbox {
  background: var(--toolboxBg);  
}



