@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('from_others/fontawesome/css/all.min.css');

:root {
  --headerBg: #272727;
  
  --viewBg: #272727;  
  --viewTitleFg: #fff;
  --viewTitleBg: #c13737;

  --topicTitleFg: aqua; /* #0ebeff*/
  --topicLinkFg: #FFF;
  --topicLinkHoverFg: aqua;
  --otherLinksFg: pink;
  --originOfLinkFg:  rgb(5 ,224,251);
  --originOfLinkHoverFg:  rgb(240, 209, 73);

  --homeBg: #272727;
  --webBg: #272727;
  --codeBg: #272727;
  --mobilesBg: #272727;
  --cloudBg: #272727;
  --mathBg: #272727;
  --iaBg: #272727;
  --datavizBg: #272727;
  --sciencesBg: #272727;
  --aviationBg: #272727;
  --securisationBg: #272727;
  --moneyBg: #272727;
  --jobBg: #272727;
  --toolboxBg: #272727;
  --toolboxBt: #FFEB3B;
   
  --fontFamily: 'Roboto Mono', monospace;
  --copyHover: gold;
}

body {
  font-family: var(--fontFamily);
  margin:0;
}

/* VIEW */

.view > * {
   padding-left: 15px; 
}
.view {
  display:none;
  background-color: var(--viewBg);
  width: 100%;
  min-height: 100%;
  display: none;
  position: absolute;
  box-sizing: border-box;
  color:#fff;
  padding: 5px;
  margin:0;
}
.view h4,h5,h6 {
  text-align: left;
}
.view ul {
  color: var(--viewTitleFg);
  margin: 1.4em 0 0.3em 0;
}

.view > h1 {
    color: var(--viewTitleFg);
    margin: 1.4em 0 0.3em -6px;
    background-color: var(--viewTitleBg);
    width: fit-content;   
    padding: 0 50px 7px 10px;
    border-radius: 0 8px 8px 0;
    border: solid 1px gray;
    box-shadow: 10px 1px 70px rgb(169 169 169 / 63%);
}

.active {
  display:block !important;  
}

.topics > div[class*="masonr"] > div, .box3d {    
  min-width: 200px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgb(0 0 0), 0 3px 12px rgb(0 0 0), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);   
  break-inside: avoid;
  width: fit-content;
}
.topics > div[class*="masonr"] > div > h3 {
  color: var(--topicTitleFg);
  margin: 0;
  font-variant: all-small-caps;
} 

.box3d > h4 {
  margin: 0 0 1em 0;
}

.flexrow {
  display: flex; 
  flex-direction: row;
}
.flexcol {
  display: flex; 
  flex-direction: column
}

/* LINKS */

a {
 text-decoration: none !important;
 color: var(--otherLinksFg);
}

.originOfLink, .originOfLink:visited  {
  color: var(--originOfLinkFg) !important;
  font-size: small;  
}
.originOfLink:before {
  content: '💾 '    
}
.originOfLink:after {
  content: ' ↗'
}
.originOfLink:hover {  
  color: var(--originOfLinkHoverFg) !important;
}
.topicLink, .blogLink, .blogLinkEdit {
  color: var(--topicLinkFg);
}
.topicLink:hover, .blogLink:hover, .blogLinkEdit:hover {  
  border-bottom: solid 1px var(--topicLinkHoverFg);  
}
.topicLink:visited, .blogLink:visited, .blogLinkEdit:visited {
  color: var(--topicLinkFg);
}    
.view .topicLink {
  font-size: small;
}

.copy:hover {
  color: var(--copyHover);
}
.copy:hover:after {
  content: ' ← clikopy';
  font-size: 0.9em;
}

.view .blogLink {
  font-size: larger;
}
.blogLink:before {
  content:'⭐ ';  
}

.blogLinkEdit {
  font-size: xx-large;
}

.blogLinkEdit:hover:after {
  content:' ✏️'
}

ul#blog_items li {
  list-style-type: none;
}


.stickyBlog {
  display: none; 
  position: fixed;
  top: 3.2em;
  left: 20%;
  width: fit-content;
  min-width: 50%;
  max-width: 75%;
  padding: 10px;
  background-color: #000000c9;  
  height: 90vh;
  font-family: 'Cabin';
  border: solid 1px #7f807c;
  border-radius: 8px;
  font-size: small;
  z-index: 1010;
  overflow: scroll;
  color:white;
}  


#header {
  position: fixed;
  z-index: 1;
  background-color: var(--headerBg);
  width: 100%;
  color:white;
}
.clockDiv {
  position: absolute;  
  font-size: x-large;
}
#clock {  
  position: relative;
  top: 0.2em;
  left: 4em;  
  cursor: pointer;
}
.logobka {
  float: left;
  margin: 3px 0 0 10px;
}
#alarmSign {
  display: none;
  position: relative;
  background-color: goldenrod;  
  height: 2px;
  left: 4em;
  top: 3px;
}
#navIcons {  
  position: relative;
  top: 0.21em;
  left: 6.5em;
  font-size: 1.5em;
}
#viewName {  
  display: none; 
  position: absolute;
  left: 0;
  top: 0.2em;
  font-size: 5.1em;
  color: var(--viewTitleFg);
  animation: viewNameAnimation ease 0.25s;  
  z-index: 1001;
  opacity: 0;
  text-align: center;
}
#viewName.visible {    
  display: block;
  left: 50%;
  top: 0;
  opacity: 1;  
  position: fixed;
  font-size: x-large;
  background-color: var(--viewTitleBg);
  padding: 0 20px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom: 1px solid #b3b3b3;
  border-left: 1px solid #988585;
  border-right: 1px solid #cea0a0;
}
@keyframes viewNameAnimation {
  0% { left:0; top:2em;  border-radius: 0 8px 8px 0; border: solid 1px gray; }
  20% { left:20%; top:2em; opacity:0.4; font-size: large;  border: solid 1px gray; }
  100% { left:50%; top:0; font-size: x-large;  border: solid 1px gray;}
}
#viewName progress {
  position:relative;
  top:-6px;  
}
#help {
  position: relative;
  float: right;
  margin: 9px 10px;      
  font-size: 1.5em;  
  cursor: pointer;  
}






/* SNACKBAR */

#snackbar {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: #e8d232;
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 3em;
  font-size: 17px;
  border: solid 3px white;
}

#snackbar.show {
  display: block;  
  animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 10s; /* 10s to avoid display issues */
}

@keyframes snackbar-fadein {
  from {top: 0; opacity: 0;}
  to {top: 3em; opacity: 1;}
}

@keyframes snackbar-fadeout {
  from {top: 3em; opacity: 1;}
  to {top: 0; opacity: 0;}
}



/* MODAL */

  .modalContainer {
    position: absolute;
    background-color: var(--viewBg);    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    visibility: hidden;
  }
  
  .visible {
    visibility: visible;
  }
  .modalBox h1 {
    margin-top: 5px;
  }
  .modalBox p:before {
    content: '⭐ '
  }
  .modalBox p {
  font-weight: bold;
}
  .modalBox {
    position: fixed;
    opacity: 0.9;    
    padding: 0 0 0 10px;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 30px 70px rgba(0,0,0,0.3);
  }


/* Alarms */

#alarm {
    position: fixed;
    top: 2.8em;
    left: -240px;
    width: 200px;    
    border: solid 2px white;
    border-radius: 4px;    
    color: white;
    background: #a51919;
    display: flex;
    flex-flow: wrap;    
    padding: 16px;
    transition: 0.62s;
}
#alarm.alarm {
  left: 0;
}
#alarm h3 {
  position: relative;
  top:4px;
  width: 3em;
  font-size: xx-large;
  margin: 0;
  text-align: center;
}
.alarmItem {
    background: #000;
    width: 5em;
    border: solid 1px white;    
    border-radius: 6px;
    text-align: center;
    margin: 3px;
    padding: 5px;
}
.alarmItem:hover {
  color: yellow;
}
.alarm-active {
     background: #FFEB3B;
     color:black;
}
.alarmMessage {    
    width: 100%;
    border: solid 1px white;    
    border-radius: 2px;
    text-align: center;
    margin: 3px;
    padding: 5px;
}


/* HELP */

kbd {
  font-size: 0.85em;
  border: 1px solid;
  border-bottom-width: 2px;
  border-color: #ddd #bbb #bbb #ddd;
  background: #000;
  padding: 1px 3px;
  white-space: nowrap;
  border-radius: 3px;
  color: #fff;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 {
  text-transform: uppercase;
}

/* TOOLBOX */

.fs-medium {
  font-size: medium;
}

.bka-bt {
  width: 150px;
  height: 30px;
  margin: 5px 0;
  background-color: var(--toolboxBt);
  border-radius: 4px;
  font-size: large; 
}

.bka-bt2 {
  width: 200px;
  height: 27px;
  margin: 5px 10px;
  background-color: var(--toolboxBt);
  border-radius: 4px;
}

input[id^=timestamp] {
  font-size: large; 
}
#b64Canvas:hover {
  height:150px;
}
#b64Canvas { 
  width:200px;
  height:30px;
  border: 1px dotted var(--toolboxBt); 
  margin: auto;   
}
 

/* VIEWS */

#home {
  background-color: var(--homeBg);
}

#web {
  background-color: var(--webBg);
}

#cloud {
  background-color: var(--cloudBg);
}

#code {
  background-color: var(--codeBg);
}

#mobiles {
  background-color: var(--mobilesBg);
}

#math {
  background: var(--mathBg);  
}

#ia {
  background: var(--iaBg);  
}

#dataviz {
  background: var(--datavizBg);  
}

#sciences {
  background: var(--sciencesBg);  
}

#aviation {
  background: var(--aviationBg);  
}

#securisation {
  background: var(--securisationBg);  
}

#money {
  background: var(--moneyBg);  
}

#job {
  background: var(--jobBg);  
}

#toolbox {
  background: var(--toolboxBg);  
}




.masonry-layout {
  box-sizing: border-box;
  --columns: 1;
  --gap: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
  padding: 2rem;
}
.masonry-layout > div > img,
.masonry-layout > div > div {
  width: 100%;
  margin-bottom: 2rem;
}
.masonry-layout.columns-1 {
  --columns: 1;
}
.masonry-layout.columns-2 {
  --columns: 2;
}
.masonry-layout.columns-3 {
  --columns: 3;
}
.masonry-layout.columns-4 {
  --columns: 4;
}
