/* Slideshow container */
.slideShowContainer, .slideShowKontainer {
  position: relative;
  border: solid 1px grav;
}

/* Slides */
.slideShowSlide {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.slideShowSlidePrev, .slideShowSlideNext {
  cursor: pointer;  
  user-select: none;
  background-color: red;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;     
  width:1.2em;
  height:1.4em;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
}

/* Position the "next button" to the right */
.slideShowSlideNext {  
  left: 3em;  
}

/* On hover, add a black background color with a little bit see-through */
.slideShowSlidePrev:hover, .slideShowSlideNext:hover {
  background-color: rgba(235, 187, 54, 0.8);
  color: rgb(8, 8, 8);
}

/* The dot/bullet/indicator container */
.slideShowDotContainer {
  text-align: center;
  padding: 20px;  
}

/* The dots/bullets/indicators */
.slideShowDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.activeSlideshow, .dot:hover {
  background-color: #ff9800;
}

