@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

:root {
  --slideBg: #1d1b18;
}

.slide {
  display: none;
  width: 100%;
  margin:0;
  padding: 2em;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  max-width: fit-content;
  background-color: var(--slideBg);
  position:absolute;
  color: white;    
  font-size: smaller;
  margin-top: 2em;
}

.slide h1, h2, h3, h4,h5,h6 {
    color:gold;
    text-align: center;
}
.slide h1 {
    border-bottom:inset 1px gold;
    width: fit-content;
    margin: 0 auto 7px auto;
}
.slide h1 {
  margin-bottom: 14px;
}
.slide h2 {
  margin-bottom: 6px;
}
.slide h3 {
  margin-bottom: 4px;
}



.slide a {
  text-decoration: underline;
  color: white;
}

.slide p {
    text-align: left;
}


.slide table {
  margin: 5px auto;
  color: inherit;
}

.slide table th,
.slide table td {
  border: 1px solid white;
  padding: 6px 12px;
  font-size: 0.8em;
}

.slide ul {
  margin: 5px 5px;
  font-size: 0.9em;
}

.slide pre {
  margin: 5px;
}

#progress {  
  position: fixed !important;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

#progress-page {
  background-color: lightblue;
  height: 50%;
  width: 1%;
}

#progress-time {
  background-color: brown;
  height: 50%;
  width: 1%;
}

@media print {
  #progress {
    display: none;
  }
}


/* TOC  */

.stickytoc {
  display: none; 
  position: fixed;
  top: 3.2em;
  left: 82%;
  width: 250px;
  background-color: #0008;
  text-overflow: ellipsis;
  height: fit-content;  
  font-family: 'Cabin';
  border: solid 1px #707164;
  border-radius: 20px;
  font-size: small;
}  

.stickytoc a {
  color: white;
}

.pl-1 {
  padding-left: 1rem;
}

/* MUST STAY HERE (CSS PRIORITY) */
.current {
  display: block;
}  

.stickytoc a.active-title {
  font-weight: 700;
  color: gold;  
}