/* TOC  */

.stickytoc {
  display: none; 
  position: fixed;
  top: 3.2em;
  left: 80%;
  width: 250px;
  background-color: #0008;
  text-overflow: ellipsis;
  height: fit-content;  
  font-family: 'Cabin';
  border: solid 1px #707164;
  border-radius: 20px;
  font-size: small;
  z-index: 1011;
}  

.stickytoc a {
  color: white;
}

.pl-1 {
  padding-left: 1rem;
}

/* MUST STAY HERE (CSS PRIORITY) */
.current {
  display: block;
}  

.stickytoc a.active-title {
  font-weight: 700;
  color: gold;  
}