/* TOC  */

.stickytoc {
  display: none; 
  position: fixed;
  top: 3.2em;
  left: 80%;
  width: 250px;
  background-color: #0008;
  text-overflow: ellipsis;
  height: fit-content;  
  border: solid 1px #707164;
  border-radius: 20px;
  font-size: medium;
  z-index: 1011;
  font-family: monospace;
}  

.stickytoc a {
  color: white;
}

.pl-1 {
  padding-left: 1rem;
}

/* MUST STAY HERE (CSS PRIORITY) */
.current {
  display: block;
}  

.stickytoc a.active-title {
  border-bottom: 1px solid gold;
  color: gold;  
}

.stickytoc ul li {
  list-style-type: decimal-leading-zero;  
}

.stickytoc ul {  
  color: white;  
  text-align: left;
} 