@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('fontawesome/css/all.min.css');

:root {
  --headerBg: #272727;
  --viewBg: #272727;
  
  --homeBg: #272727;
  --webBg: #002727;
  --codeBg: #002727;
  --mobilesBg: #002700;
  --cloudBg: #002700;
  --mathBg: #444444;
  --iaBg: #0000CC;
  --datavizBg: #86BA88;
  --sciencesBg: #002700;
  --aviationBg: #66AA88;
  --securisationBg: #0000CC;
  --moneyBg: #0220CC;
  --jobBg: #8B5C77;
  --toolsBg: #005C77;

  --jsonlink: #FFF;
  
  --fontFamily: 'Roboto Mono', monospace;
  --viewTitle: gold;
  --containerTitle: aqua; /* #0ebeff*/
  --copyHover: gold;
}

body {
  font-family: var(--fontFamily);
  margin:0;
}


/* VIEW */

.view {
  display:none;
  background-color: var(--viewBg);
  width: 100%;
  height: 200vh;
  display: none;
  position: absolute;
  box-sizing: border-box;
  color:#fff;
  padding: 5px;
  margin:0;
}

.view > h1:nth-child(1) {
  color: var(--viewTitle);
}

.active {
  display:block !important;  
}

#home {
  background-color: var(--homeBg);
}

#web {
  background-color: var(--webBg);
}

#cloud {
  background-color: var(--cloudBg);
}

#code {
  background-color: var(--codeBg);
}

#mobiles {
  background-color: var(--mobilesBg);
}

#math {
  background: var(--mathBg);  
}

#ia {
  background: var(--iaBg);  
}

#dataviz {
  background: var(--datavizBg);  
}

#sciences {
  background: var(--sciencesBg);  
}

#aviation {
  background: var(--aviationBg);  
}

#securisation {
  background: var(--securisationBg);  
}

#money {
  background: var(--moneyBg);  
}

#job {
  background: var(--jobBg);  
}

#tools {
  background: var(--toolsBg);  
}



/* CONTAINER */ 

.container {  
  column-count: 4;
  column-gap: 10px;
  padding-left: 20px;  
}

.containerItem {
    
  min-width: 200px;
  margin-bottom: 2rem;
  padding: 5px;
  border: solid 1px #cccccc63;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
  display: grid;
  grid-template-rows: 1fr auto;

  break-inside: avoid;
}

.containerItem h3 {
  color: var(--containerTitle);
} 

/* Container title */
h3 {
  margin:0;
  text-align: center;  
}


/* LINKS */

a, u {
 text-decoration: none !important;
}

.link {
  color: var(--jsonlink);
}
.link:hover {  
  border-bottom: solid 1px var(--containerTitle);  
}
.link:visited {
  color: var(--jsonlink);
}    
.view .link {
  font-size: small;
}

.copy:hover {
  color: var(--copyHover);
}
.copy:hover:after {
  content: ' ← click to copy';
  font-size: 0.9em;
}




#header {
  position: fixed;
  z-index: 1;
  background-color: var(--headerBg);
  width: 100%;
  color:white;
}
.clockDiv {
  position: absolute;  
  font-size: x-large;
}
#clock {  
  position: relative;
  top:0.1em;
  left: 4em;  
  cursor: pointer;
}
#alarmSign {
  display: none;
  position: relative;
  background-color: goldenrod;  
  height: 2px;
  left: 4em;
}
#headerIcons {  
  position: relative;
  top: 0.21em;
  left: 10em;
  font-size: 1.5em;
}
#help {
  position: relative;
  float: right;
  margin: 5px 10px;      
  font-size: 1.5em;  
}






/* SNACKBAR */

#snackbar {
  display: none;
  min-width: 250px;
  margin-left: -125px;
  background-color: #e8d232;
  color: #000;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 3em;
  font-size: 17px;
  border: solid 3px white;
}

#snackbar.show {
  display: block;  
  animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 10s; /* 10s to avoid display issues */
}

@keyframes snackbar-fadein {
  from {top: 0; opacity: 0;}
  to {top: 3em; opacity: 1;}
}

@keyframes snackbar-fadeout {
  from {top: 3em; opacity: 1;}
  to {top: 0; opacity: 0;}
}



/* MODAL */

  .mainbox {
    position: absolute;
    background-color: #CCCCCC;    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    visibility: hidden;
  }
  
  .visible {
    visibility: visible;
  }

  .modal {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    opacity: 0.5;

    transition: 0.4s;

    width: 50%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 30px 70px rgba(0,0,0,0.3);
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #2196F3;
  }
  .modal-close:hover {
    color: #2b8fdb;
  }


  /* Alarms */

#alarm {
    position: fixed;
    top: 2.2em;
    left: -240px;
    width: 200px;    
    border: solid 2px white;
    border-radius: 4px;    
    color: white;
    background: #a51919;
    display: flex;
    flex-flow: wrap;    
    padding: 16px;
    transition: 0.62s;
}
#alarm.alarm {
  left: 0;
}
#alarm h3 {
  position: relative;
  top:4px;
  width: 3em;
  font-size: xx-large;
}
.alarmItem {
    background: #000;
    width: 5em;
    border: solid 1px white;    
    border-radius: 6px;
    text-align: center;
    margin: 3px;
    padding: 5px;
}
.alarmItem:hover {
  color: yellow;
}
.alarm-active {
     background: #FFEB3B;
     color:black;
}
.alarmMessage {    
    width: 100%;
    border: solid 1px white;    
    border-radius: 2px;
    text-align: center;
    margin: 3px;
    padding: 5px;
}