@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('fontawesome/css/all.min.css');

:root {
  --headerBg: #272727;
  --viewBg: #272727;
  
  --homeBg: #272727;
  --webBg: #002727;
  --codeBg: #002727;
  --mobileBg: #002700;
  --cloudBg: #002700;
  --mathBg: #444444;
  --mlBg: #0000CC;
  --datavizBg: #86BA88;
  --scienceBg: #002700;
  --planeBg: #66AA88;
  --securityBg: #0000CC;
  --crowdfundingBg: #0220CC;
  --jobsBg: #8B5C77;
  --toolsBg: #005C77;
  
  --fontFamily: 'Roboto Mono', monospace;
  --viewTitle: gold;
  --containerTitle: aqua;
  --textHover: gold;
}

body {
  font-family: var(--fontFamily);
  margin:0;
}


/* VIEW */

.view {
  display:none;
  background-color: var(--viewBg);
  width: 100%;
  height: 200vh;
  display: none;
  position: absolute;
  box-sizing: border-box;
  color:#fff;
  padding: 5px;
  margin:0;
}

.view > h1:nth-child(1) {
  color: var(--viewTitle);
}

.active {
  display:block;  
}

#home {
  background-color: var(--homeBg);
}

#web {
  background-color: var(--webBg);
}

#cloud {
  background-color: var(--cloudBg);
}

#code {
  background-color: var(--codeBg);
}

#mobile {
  background-color: var(--mobileBg);
}

#math {
  background: var(--mathBg);  
}

#ml {
  background: var(--mlBg);  
}

#dataviz {
  background: var(--datavizBg);  
}

#science {
  background: var(--scienceBg);  
}

#plane {
  background: var(--planeBg);  
}

#security {
  background: var(--securityBg);  
}

#crowdfunding {
  background: var(--crowdfundingBg);  
}

#jobs {
  background: var(--jobsBg);  
}

#tools {
  background: var(--toolsBg);  
}



/* CONTAINER */ 

.container {  
  column-count: 4;
  column-gap: 10px;
  padding-left: 20px;
}

.containerItem {
    
  min-width: 200px;
  margin-bottom: 2rem;
  padding: 5px;
  border: solid 1px #cccccc63;
  border-radius: 5px;
  
  display: grid;
  grid-template-rows: 1fr auto;

  break-inside: avoid;
}

.containerItem h3 {
  color: var(--containerTitle);
} 

/* Container title */
h3 {
  margin:0;
  text-align: center;  
}


/* LINKS */

a, u {
 text-decoration: none !important;
}

.jsonlink {
  color: white;
}

.jsonlink:hover {  
  border-bottom: solid 2px cyan;  
}


.jsonlink:visited {
  color: white;
}
    
.view .jsonlink {
  font-size: small;
}



#header {
  position: fixed;
  z-index: 1;
  background-color: var(--headerBg);
  width: 100%;
  color:white;
}
#clock {
  
  position: relative;
  top:0.1em;
  left: 4em;  
  font-size: x-large;
}
#hlinks_header {  
  position: relative;
  top:0.1em;
  left:4.7em;  
  font-size: 1.5em;
}
#help {
  position: relative;
  float: right;
  margin: 3px;      
  font-size: 1.5em;  
}
/* LINKS */



.text {
}

.text:before {
  content: '• ';
}

.text:hover {
  color: var(--textHover);
}

.copy:hover:after {
  content: ' ← clickopy';
  font-size: 0.7em;
}



/* SNACKBAR */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #e8d232;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 3em;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;  
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 3em; opacity: 1;}
}

@keyframes fadeout {
  from {top: 3em; opacity: 1;}
  to {top: 0; opacity: 0;}
}



/* MODAL */

  .mainbox {
    position: absolute;
    background-color: #CCCCCC;    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    visibility: hidden;
  }
  
  .visible {
    visibility: visible;
  }

  .modal {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    opacity: 0.5;

    transition: 0.4s;

    width: 50%;
    height: 70vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 30px 70px rgba(0,0,0,0.3);
  }
  .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #2196F3;
  }
  .modal-close:hover {
    color: #2b8fdb;
  }


  /* Alarms */

#alarm {
    position: fixed;
    top: 2.2em;
    left: -280px;
    width: 250px;    
    border: solid 1px grey;
    background: #2980b9;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding: 16px;
    transition: 0.62s;
}
#alarm.alarm {
  left: 0;
}
#alarm ul li {
    font-size: 1.2em;
}

.alarmItem {
    background: #000;
    color: white;
    width: 5em;
    border: solid 1px grey;    
    text-align: center;
    margin: 3px;
    padding: 5px;
}