@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('fontawesome/css/all.min.css');

:root {
  --viewBg: #272727;
  
  --homeBg: #272727;
  --codeBg: #002727;
  --scienceBg: #002700;
  --mathBg: #444444;
  --planeBg: #66AA88;
  --datavizBg: #86BA88;
  --jobsBg: #8B5C77;
  --mlBg: #0000CC;
  
  --fontFamily: 'Roboto Mono', monospace;
  --viewTitle: gold;
  --containerTitle: aqua;
  --textHover: gold;
}

body {
  font-family: var(--fontFamily);
  margin:0;
}


/* VIEW */

.view {
  display:none;
  background-color: var(--viewBg);
  width: 100%;
  height: 200vh;
  display: none;
  position: absolute;
  box-sizing: border-box;
  color:#fff;
  padding: 5px;
  margin:0;
}

.view > h1:nth-child(1) {
  color: var(--viewTitle);
}

.active {
  display:block;  
}

#home {
  background-color: var(--homeBg);
}

#code {
  background-color: var(--codeBg);
}

#science {
  background: var(--scienceBg);  
}

#math {
  background: var(--mathBg);  
}

#plane {
  background: var(--planeBg);  
}

#dataviz {
  background: var(--datavizBg);  
}

#jobs {
  background: var(--jobsBg);  
}

#ml {
  background: var(--mlBg);  
}


/* CONTAINER */ 

.container {  
  column-count: 4;
  column-gap: 10px;
  padding-left: 20px;
}

.containerItem {
    
  min-width: 200px;
  margin-bottom: 2rem;
  padding: 5px;
  border: solid 1px #cccccc63;
  border-radius: 5px;
  
  display: grid;
  grid-template-rows: 1fr auto;

  break-inside: avoid;
}

.containerItem h3 {
  color: var(--containerTitle);
} 

/* Container title */
h3 {
  margin:0;
  text-align: center;  
}


/* LINKS */

a, u {
 text-decoration: none !important;
}

.jsonlink {
  color: white;
}

.jsonlink:hover {  
  border-bottom: solid 2px cyan;  
}


.jsonlink:visited {
  color: white;
}
    
.view .jsonlink {
  font-size: small;
}




#clock {
  color:white;
  position: absolute;
  top:0.1em;
  left: 4em;
  z-index: 1;  
  font-size: x-large;
}


/* LINKS */

#hlinks_header {  
  position: absolute;
  top:0.1em;
  left: 10em;
  z-index: 1; 
  font-size: 1.5em;
}

.text {
}

.text:before {
  content: '• ';
}

.text:hover {
  color: var(--textHover);
}

.copy:hover:after {
  content: ' ← click to copy';
  font-size: 0.7em;
}
