:root {
  --highColor: #fdde00;
  --windColor: #4ceeff;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.relative,
.weatherContent,
.tempFeel,
.weatherCurrentDescription,
.wind,
.forecastWidget {
  position: relative;
}

.absolute,
.dayPos,
.weatherContentBackimg,
.iconCurrentWeather,
.windir,
.windirForecast,
.iconForecastWeather,
.dtTimeForecast {
  position: absolute;
}

.mbot10 {
  margin-bottom: 10px;
}



.weatherWidget {
  background: repeating-linear-gradient(62deg, #000000, #bbbed2);
  width: 60%;
  border: solid 2px;
  border-radius: 25px;
}

.weatherContent {
  padding: 10x;
  padding: 15px;
}

.weatherContentBackimg {
  opacity: 0.4;
  background: url(cloud.png) 50px 27px no-repeat;
  width: 100%;
  height: 100%;
}

.weatherContentGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 180px 1.5em 160px;
  grid-gap: 10px;
}

.locality {
  font-size: 1.8em;
  color: white;
  font-family: fantasy;
}
.country {
  font-size: 0.4em;
}

.localityInfos {
  font-size: 0.8em;
  color: white;
}

.dayPos {
  grid-column: 1/5;
}

.dt,
.dtTimeForecast,
.sun {
  color: var(--highColor);
  font-size: 1.2em;
}

.sun {
  font-size: 1em;
  color: #fff;
}

.temperatureGrid {
  display: grid;
  grid-template-columns: 0.1fr 0.8fr;
  grid-template-rows: repeat(3, 2em);
  grid-gap: 2px;
}

.temperatureGridPos {
  grid-column: 5;
}

.tempCurrent {
  font-size: 3.5em;
  color: var(--highColor);
  text-align: right;
  font-family: fantasy;
  grid-column: 2;
  grid-row: 1;
}

.tempMin,
.tempMax {
  color: white;
  font-size: 1em;
}

.tempMin {
  grid-row: 3;
}
.tempMax {
  grid-row: 1;
}
.tempFeel {
  font-weight: 100;
  color: var(--highColor);
  grid-row: 1;
  grid-column: 2;
  top: -10px;
}

.weatherCurrentDescription {
  grid-row: 2;
  grid-column: 1/6;
  font-style: italic;
  color: white;
}
.iconCurrentWeather {
  top: 15%;
  left: 40%;
  transform: scale(3);
}

.wind {
  color: var(--windColor);
}
.windCurrent {
  font-size: 1.2em;
}
.windCurrentPos {
  top: 50px;
  left: 30px;
}
.windir {
  display: inline-block;
  top: 1.2em;
  left: 4px;
}

/* -------- FORECAST --------- */

.forecast {
  grid-row: 3;
  grid-column: 1/6;
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}

.forecastWidget {
  background: repeating-linear-gradient(63deg, #09081d, #020321);
  border: solid 1px white;
  border-radius: 8px;
  padding: 8px;
  min-width: 110px;
  margin-left: 10px;
  margin-top: 5px;
}

.dtTimeForecast {
  font-size: 0.8em;
  left: 83px;
  top: 32px;
}

.iconForecastWeather {
  transform: scale(0.5);
  left: 13px;
  top: 8px;
}

.weatherForecastDescription {
  font-style: italic;
  color: white;
  font-size: 0.8em;
}

.weatherForecastDescriptionPos {
  margin-top: 15px;
  position: relative;
}

.tempForecast {
  font-size: 0.7em;
}

.windirForecast {
  display: inline-block;
  top: 30px;
  left: 55px;
}