
.articlesReloadLink {
  cursor: pointer;
}

.blogActionsContainer {
    position: absolute;
    left: 8.2em;
    top: 5em;
}

.view .blogArticleLink {
  font-size: larger;
}
.blogArticleLink:before {
  content:'⭐ ';  
}

.blogArticleLinkEdit {
  font-size: xx-large;
}

.blogArticleLinkEdit:hover:after {
  content:' ✏️'
}

ul#blog_articles li {
  list-style-type: none;
  min-height: 48px;
}


.blogArticleContainer {
  display: none; 
  position: fixed;
  top: 3.2em;
  left: 20%;
  width: fit-content;
  min-width: 50%;
  max-width: 75%;
  padding: 10px;
  background-color: #000000f5;  
  height: 90vh;
  font-family: 'Cabin';
  border: solid 1px #7f807c;
  border-radius: 8px;
  font-size: small;
  z-index: 1010;
  overflow: scroll;
  color:white;
}  