

.catalogTitleBgColor {
  background-color: #272727;
}

.catalogContainer > div:first-child {  
  margin: -5px -5px 5px -5px;
  padding: 6px;
  border-radius: 4px;
}


/* BOOKS */

/* .booksCatalog {
  top: 90%; 
  color:white;
} */
.booksCatalogLink {
  display: block;
  color:white !important;
  cursor: pointer;     
  font-size: 0.9em; 
}


.booksCatalog { 
  top: -3px;
  left: -100px;  
}

.booksCatalogContainer {
  position: absolute;    
  width: 40px;    
  border-top: double;
  height: 20px;
  cursor: pointer;    
  bottom: -22px;
  left: 222px;
}

.booksCatalog, .chaptersCatalogContainer {
  display:none;
  position: absolute;
  border: solid 2px #9e9e9e;
  background-color: #c13737;
  border-radius: 8px;
  padding: 5px;  
  text-align: left;
  min-width: 400px;
}

/* CHAPTERS */

.chapterCatalogLink {
  white-space: nowrap;
}

.chaptersCatalog {      
  font-size: 0.47em;    
  overflow: scroll;
  max-height: 80vh;
  line-height: 1.3em;
}

.chaptersCatalogContainer {
  top: 56px;
  left: -25px; 
}

#bookDetails:hover .chaptersCatalogContainer, .booksCatalogContainer:hover .booksCatalog {  
  display:block;  
}


/* BLOG */

.contentCatalog {
  display: none; 
  position: fixed;
  z-index: 10000;
  top: 3.8em;
  right:0;
  width: 300px;
  height: fit-content;  
  max-height: 80%;
  overflow-y: scroll;
  background-color: #272727;
  text-overflow: ellipsis;  
  border-radius: 0 0 6px 6px;
  font-size: 0.85em;
  font-family: monospace;
}  

.contentCatalog a {
  color: white;
  white-space: nowrap;
}

.pl-1 {
  padding-left: 0.45rem; 
}

.pl-1:before {
    content: '└─';
}

/* MUST STAY HERE (CSS PRIORITY) */
.current {
  display: block;
}  

.contentCatalog a.active-title {
  border-bottom: 1px solid gold;
  color: gold;  
}

.contentCatalog ul li {
  list-style-type: decimal-leading-zero;  
}

.contentCatalog ul {  
  color: white;  
  text-align: left;
} 