

.catalogTitleBgColor {
  background-color: #272727;
}

.catalogContainer > div:first-child {  
  margin: -5px -5px 5px -5px;
  padding: 6px;
  border-radius: 4px;
}


/* VIEWS */

/* .viewsCatalog {
  top: 90%; 
  color:white;
} */
.viewsCatalogLink {
  display: block;
  color:white !important;
  cursor: pointer;      
}


.viewsCatalog { 
  top: -3px;
  left: -100px;  
}

.viewsCatalogContainer {
  position: absolute;    
  width: 40px;    
  border-top: double;
  height: 20px;
  cursor: pointer;    
  bottom: -22px;
  left: 222px;
}

.viewsCatalog, .slidesCatalogContainer {
  display:none;
  position: absolute;
  border: solid 2px #9e9e9e;
  background-color: #c13737;
  border-radius: 8px;
  padding: 5px;  
  text-align: left;
  min-width: 400px;
}

/* SLIDES */

.slidesCatalog {      
  font-size: 0.6em;    
  overflow: scroll;
  max-height: 80vh;
}

.slidesCatalogContainer {
  top: 56px;
  left: -25px; 
}

#viewDetails:hover .slidesCatalogContainer, .viewsCatalogContainer:hover .viewsCatalog {  
  display:block;  
}


/* BLOG */

.contentCatalog {
  display: none; 
  position: fixed;
  z-index: 10000;
  top: 3.2em;
  right:0;
  width: 250px;
  height: fit-content;  
  max-height: 80%;
  overflow-y: scroll;
  background-color: #000000b0;
  text-overflow: ellipsis;
  border: solid 1px #707164;
  border-radius: 8px;
  font-size: medium;
  font-family: monospace;
}  

.contentCatalog a {
  color: white;
}

.pl-1 {
  padding-left: 1rem;
}

/* MUST STAY HERE (CSS PRIORITY) */
.current {
  display: block;
}  

.contentCatalog a.active-title {
  border-bottom: 1px solid gold;
  color: gold;  
}

.contentCatalog ul li {
  list-style-type: decimal-leading-zero;  
}

.contentCatalog ul {  
  color: white;  
  text-align: left;
} 