/* TOC  */

.blogCatalog {
  display: none; 
  position: fixed;
  z-index: 10000;
  top: 3.2em;
  left: 80%;
  width: 250px;
  height: fit-content;  
  max-height: 80%;
  overflow: scroll;
  background-color: #0008;
  text-overflow: ellipsis;
  border: solid 1px #707164;
  border-radius: 20px;
  font-size: medium;
  font-family: monospace;
}  

.blogCatalog a {
  color: white;
}

.pl-1 {
  padding-left: 1rem;
}

/* MUST STAY HERE (CSS PRIORITY) */
.current {
  display: block;
}  

.blogCatalog a.active-title {
  border-bottom: 1px solid gold;
  color: gold;  
}

.blogCatalog ul li {
  list-style-type: decimal-leading-zero;  
}

.blogCatalog ul {  
  color: white;  
  text-align: left;
} 