@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

:root {
  --chapterBg: #1d1b18;
}

.chapter {
  display: none;
  width: 100%;
  margin:0;
  padding: 2em;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  max-width: fit-content;
  background-color: var(--chapterBg);
  position:absolute;
  color: white;    
  font-size: medium;
  margin-top: 2em;
  font-family: Cabin;
}

.blogArticleContainer h1:before, .blogArticleContainer h2:before, .blogArticleContainer h3:before,  
.chapter h1:before, .chapter h2:before, .chapter h3:before 
{
  content: ' ';
}

.blogArticleContainer h1, .blogArticleContainer h2, 
.chapter h1, .chapter h2
{
    color:gold;    
}

.blogArticleContainer h3, .chapter h3  {
    color:#00bcd4;    
}

.blogArticleContainer h4, .blogArticleContainer h5, .blogArticleContainer h6,
.chapter h4, .chapter h5, .chapter h6
{
  color: #90A4AE;
}

.chapter h1 {    
    width: fit-content;
    margin: 0 0 14px 0;    
    color: #9e3f3f;
}
.chapter h2 {
  margin-bottom: 6px;
}
.chapter h3 {
  margin-bottom: 4px;
}

.chapter a {  
  color: white;
}
.chapter a:hover {
  text-decoration:underline !important;
}

.chapter p {
    text-align: left;
}


.chapter table {
    border-radius: 8px;
    margin: 5px 0 0 3em;
    color: inherit;
    border: solid 1px #ffd70063;
    border-collapse: collapse;
}

.chapter table th,
.chapter table td {  
  padding: 6px 12px;
  font-size: 0.8em;
}

.chapter table td {
  border: 1px solid #ffd70063;  
}

.chapter .youtube {
    text-align: center;
    margin: 0;
}

.chapter .youtube td {
  border:none;
  padding:0;
}

.chapter ul {
  margin: 5px 5px;
  font-size: 0.9em;
}

.chapter pre {
  margin: 5px;
  padding:10px !important;
}

#progress {  
  position: fixed !important;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

#progress-page {
  background-color: lightblue;
  height: 50%;
  width: 1%;
}

#progress-time {
  background-color: brown;
  height: 50%;
  width: 1%;
}

@media print {
  #progress {
    display: none;
  }
}


.chapter iframe { 
  margin-left: 3em; 
}

.chapterCatalogLink {
  cursor: pointer;  
}
    
/* HTML ELEMENTS */
.left20 { margin: 8px; margin-left: 20px; }
.left20 a { border: solid 1px grey; background-color: black; padding: 5px; margin: 5px}
