.chapter {
    font-size: smaller;
    
}
.chapter   h1, h2, h3, h4,h5,h6 {
    color:gold;
}
.chapter   h1 {
    border-bottom:inset 1px gold;
    width: fit-content;
    margin: 1em auto 7px auto;
}

.chapter p {
    text-align: left;
}


/*@media print {
  *,
  :after,
  :before {
    background: 0 0 !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
.chapter   a,.chapter   a:visited {
    text-decoration: underline;
        color: red !important;
  }  
.chapter   a[href]:after {
    content: " (" attr(href) ")";
  }
.chapter   abbr[title]:after {
    content: " (" attr(title) ")";
  }
.chapter   a[href^="#"]:after,
.chapter   a[href^="javascript:"]:after {
    content: "";
  }
.chapter   blockquote,
.chapter   pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
.chapter   thead {
    display: table-header-group;
  }
.chapter   img,
.chapter   tr {
    page-break-inside: avoid;
  }
.chapter   img {
    max-width: 100% !important;
  }
.chapter   h2,
.chapter   h3,
.chapter   p {
    orphans: 3;
    widows: 3;
  }
.chapter   h2,
.chapter   h3 {
    page-break-after: avoid;
  }
}
@media screen and (min-width: 32rem) and (max-width: 48rem) {
.chapter   html {
    font-size: 15px;
  }
}
@media screen and (min-width: 48rem) {
.chapter   html {
    font-size: 16px;
  }
}
.chapter body {
   line-height: 1.85;
}
.splendor-p,
.chapter p {
   font-size: 1rem;
   margin-bottom: 1.3rem;
}
.splendor-h1,
.splendor-h2,
.splendor-h3,
.splendor-h4,
.chapter h1,
.chapter h2,
.chapter h3,
.chapter h4 {
   margin: 1.414rem 0 0.5rem;
   font-weight: inherit;
   line-height: 1.42;
}
.splendor-h1,
.chapter h1 {
   margin-top: 0;
   font-size: 3.998rem;
}
.splendor-h2,
.chapter h2 {
   font-size: 2.827rem;
}
.splendor-h3,
.chapter h3 {
   font-size: 1.999rem;
}
.splendor-h4,
.chapter h4 {
   font-size: 1.414rem;
}
.splendor-h5,
.chapter h5 {
    font-size: 1.121rem;
}
.splendor-h6,
.chapter h6 {
    font-size: 0.88rem;
}
.splendor-small,
.chapter small {
    font-size: 0.707em;
}
.chapter canvas,
.chapter iframe,
.chapter img,
.chapter select,
.chapter svg,
.chapter textarea,
.chapter video {
    max-width: 100%;
}
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);
.chapter html {
    font-size: 18px;
    max-width: 100%;
}
.chapter body {
    color: #444;
    font-family: Merriweather, Georgia, serif;
    margin: 0;
    max-width: 100%;
}
:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p),
.chapter p {
    margin: 1rem auto;
    max-width: 36rem;
    padding: 0.25rem;
}
.chapter div,
.chapter div img {
    width: 100%;
}
.chapter blockquote p {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto;
    max-width: 48rem;
}
.chapter li {
    margin-left: 2rem;
}
.chapter h1 {
    padding: 4rem 0 !important;
}
.chapter p {
    color: #555;
    height: auto;
    line-height: 1.45;
}
.chapter code,
.chapter pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
}
.chapter pre {
    background-color: #fafafa;
    font-size: 0.8rem;
    overflow-x: scroll;
    padding: 1.125em;
}
.chapter a,
.chapter a:visited {
    color: #3498db;
}
.chapter a:active,
.chapter a:focus,
.chapter a:hover {
    color: #2980b9;
}
*/