@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

:root {
  --chapterBg: #1d1b18;
}

.page {
  display: none;
  width: 100%;
  margin:0;
  padding: 2em;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  max-width: fit-content;
  background-color: var(--chapterBg);
  position:absolute;
  color: white;    
  font-size: 0.9em;
  margin-top: 2em;
  /* SET PAGE FONT HERE: font-family: Cabin; */
}

.blogArticleContainer h1:before, .blogArticleContainer h2:before, .blogArticleContainer h3:before,  
.page h1:before 
{
  content: ' ';
}

.page h2:before
{
  content: '★ ';
}

.page h3:before 
{
  content: '▶ ';
}

.blogArticleContainer h1, .blogArticleContainer h2, 
.page h1, .page h2
{
    color:gold;    
}

.blogArticleContainer h3, .page h3  {
    color:#04e3ff;    
}

.blogArticleContainer h4, .blogArticleContainer h5, .blogArticleContainer h6,
.page h4, .page h5, .page h6
{
  color: #90A4AE;
}

.page h1 {        
    text-overflow: ellipsis;
    margin: 0 0 14px 0;
    color: #ffffff;
    background-color: #9e3f3f;
    padding: 0 0 0 20px;
    text-align: left;
}
.page h2 {
  margin-bottom: 6px;  
}
.page h3 {
  margin-bottom: 4px;  
}

.page a {  
  color: rgb(88 160 220);
  text-decoration: auto !important;  
}
.page a:hover {
  text-decoration:underline !important;
}

.page p {
    text-align: left;
}


.page table {
    border-radius: 8px;
    margin: 5px 0 0 3em;
    color: inherit;
    border: solid 1px #ffd70063;
    border-collapse: collapse;
}

.page table th,
.page table td {  
  padding: 6px 12px;
  font-size: 0.8em;
}

.page table td {
  border: 1px solid #ffd70063;  
}

.page .youtube {
    text-align: center;
    margin: 0;
}

.page .youtube td {
  border:none;
  padding:0;
}

.page ul {
  margin: 5px 5px;
  font-size: 0.9em;
}

.page pre {
  margin: 5px;
  padding:10px !important;
}

#progress {  
  position: fixed !important;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

#progress-page {
  background-color: lightblue;
  height: 50%;
  width: 1%;
}

#progress-time {
  background-color: brown;
  height: 50%;
  width: 1%;
}

@media print {
  #progress {
    display: none;
  }
}

.page iframe { 
  margin-left: 3em; 
}

.pageCatalogLink {
  cursor: pointer;  
  font-size: 0.8em;
}
    
/* HTML ELEMENTS */
.left20 { margin: 8px; margin-left: 20px; }
.left20 a { border: solid 1px grey; background-color: black; padding: 5px; margin: 5px}
