@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

:root {
  --slideBg: #1d1b18;
}

.slide {
  display: none;
  width: 100%;
  margin:0;
  padding: 2em;
  min-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  max-width: fit-content;
  background-color: var(--slideBg);
  position:absolute;
  color: white;    
  font-size: medium;
  margin-top: 2em;
  font-family: Cabin;
}

.blogArticleContainer h1:before, .blogArticleContainer h2:before, .blogArticleContainer h3:before,  
.slide h1:before, .slide h2:before, .slide h3:before 
{
  content: ' ';
}

.blogArticleContainer h1, .blogArticleContainer h2, 
.slide h1, .slide h2
{
    color:gold;    
}

.blogArticleContainer h3, .slide h3  {
    color:#00bcd4;    
}

.blogArticleContainer h4, .blogArticleContainer h5, .blogArticleContainer h6,
.slide h4, .slide h5, .slide h6
{
  color: #90A4AE;
}

.slide h1 {    
    width: fit-content;
    margin: 0 0 14px 0;    
    color: #9e3f3f;
}
.slide h2 {
  margin-bottom: 6px;
}
.slide h3 {
  margin-bottom: 4px;
}

.slide a {  
  color: white;
}
.slide a:hover {
  text-decoration:underline !important;
}

.slide p {
    text-align: left;
}


.slide table {
    border-radius: 8px;
    margin: 5px 0 0 3em;
    color: inherit;
    border: solid 1px #ffd70063;
    border-collapse: collapse;
}

.slide table th,
.slide table td {  
  padding: 6px 12px;
  font-size: 0.8em;
}

.slide table td {
  border: 1px solid #ffd70063;  
}

.slide .youtube {
    text-align: center;
    margin: 0;
}

.slide .youtube td {
  border:none;
  padding:0;
}

.slide ul {
  margin: 5px 5px;
  font-size: 0.9em;
}

.slide pre {
  margin: 5px;
  padding:10px !important;
}

#progress {  
  position: fixed !important;
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

#progress-page {
  background-color: lightblue;
  height: 50%;
  width: 1%;
}

#progress-time {
  background-color: brown;
  height: 50%;
  width: 1%;
}

@media print {
  #progress {
    display: none;
  }
}


.slide iframe { 
  margin-left: 3em; 
}

.slideCatalogLink {
  cursor: pointer;  
}
    
/* HTML ELEMENTS */
.left20 { margin: 8px; margin-left: 20px; }
.left20 a { border: solid 1px grey; background-color: black; padding: 5px; margin: 5px}
